# Zig
.zig-cache
zig-out

# ZX
dist
/bundle

# Node.js
node_modules

# Project Specific
# packages/transformjs
site/.zx
tmp
test/data/assets/
/package.json
/bun.lock
/src/cli/init/template/bun.lock
/vendor/
