body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

a {
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
}

button {
    padding: 2px;
    min-width: 100px;
    font-size: 0.8rem;
    border-radius: 5px;
    margin: 3px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: #ffffff;
        color: #000000;
    }
}

.counter-row {
    height: 150px;
    margin: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.counter-row > * {
    min-width: 150px;
}

.counter-plus {
    width: 70px;
    display: inline-block;
}